<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="currículo Rafael Faria">
  <link rel="canonical" href="https://curriculo.rafaelfaria.now.sh/">
  <meta name="author" content="Rafael F">
  <meta name="robots" content="index">

  <meta name="itemprop" content="Currículo">

  <!-- facebook -->
  <meta property="og:url" content="https://curriculo.rafaelfaria.now.sh/" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Currículo" />
  <meta property="og:description" content="currículo Rafael Faria" />
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Rafael F</title>
</head>