<%- include('header') %>
<body>
  <h1>Rafael Faria</h1>
  <h2>Contato</h2>
  <ul>
    <li>E-mail: rafaelsanfaria@gmail.com</li>
    <li>Telefone: (16) 996330032</li>
  </ul>
  <h2>Educação</h2>
  <ul>
    <li>Universidade Tecnológica Federal do Paraná​, Curitiba, PR, Brasil. Julho 2017 (completo) - Engenharia de Controle e Automação</li>
    <li>Kettering University​, Flint, MI, USA. Intercâmbio (Ciência sem Fronteiras) 2014 - Engenharia Elétrica</li>
  </ul>
  <h2>Idiomas</h2>
  <ul>
    <li>Português</li>
    <li>Inglês</li>
  </ul>
  <h2>Competências</h2>
  <ul>
    <li>Desenvolvimento web: Javascript</li>
    <li>Desenvolvimento de hardware: design, periféricos, eletrônica digital/analógica</li>
    <li>Desenvolvimento de firmware: C, Assembly</li>
    <li>Desenvolvimento em automação industrial: Ladder, Lista</li>
  </ul>
  <h2>Estágios</h2>
  <ul>
    <li>Ubivis, Curitiba Dez 2016 – Mar 2017</li>
    <li>StrikeXII, ​Curitiba Dez 2015 – Dez 2016</li>
    <li>APEL (Advanced Power Electronics Laboratory), ​Kettering University, Flint Jul 2014 – Set 2014</li>
  </ul>
  <h2>Freelance</h2>
  <ul>
    <li>Website - Ecowood Resíduos https://ecowoodr.com.br</li>
    <li>Supergeeks - Desafio Jovem Inovador - auxilio aos fins de semana, Ago 2019 - Nov 2019</li>
    <li>Meu Kick - desenvolvimento da plataforma (back end) https://meukick.com</li>
  </ul>
  <%- include('footer') %>
