<%- include('header') %>
<body>
  <div class="container">
    <h1>Rafael Faria</h1>
    <hr>
    <h2>Contato</h2>
    <ul>
      <li>E-mail: rafaelsanfaria@gmail.com</li>
      <li>Telefone: (16) 996330032</li>
    </ul>
    <h2>Educação</h2>
    <ul>
      <li>Universidade Tecnológica Federal do Paraná​, Curitiba, PR, Brasil. Julho 2017 (completo) - Engenharia de Controle e Automação</li>
      <li>Kettering University​, Flint, MI, USA. Intercâmbio (Ciência sem Fronteiras) 2014 - Engenharia Elétrica</li>
    </ul>
    <h2>Idiomas</h2>
    <ul>
      <li>Português</li>
      <li>Inglês</li>
    </ul>
    <h2>Competências</h2>
    <ul>
      <li>Desenvolvimento web: Javascript (front-end/back-end)</li>
      <li>Desenvolvimento de hardware: design, periféricos, eletrônica digital/analógica</li>
      <li>Desenvolvimento de firmware: C, Assembly</li>
      <li>Desenvolvimento em automação industrial: Ladder, Lista</li>
    </ul>
    <h2>Estágios</h2>
    <ul>
      <li>Ubivis, Curitiba Dez 2016 – Mar 2017 - Desenvolvimento de sensores para IoT utilizando módulos comerciais.</li>
      <li>StrikeXII, ​Curitiba Dez 2015 – Dez 2016 - Desenvolvimento de hardware, firmware e software.</li>
      <li>APEL (Advanced Power Electronics Laboratory), ​Kettering University, Flint Jul 2014 – Set 2014 - Desenvolvimento de placa para o teste de um conversor DC/AC.</li>
    </ul>
    <h2>Freelance</h2>
    <ul>
      <li>Website - Ecowood Resíduos, <a href="https://ecowoodr.com.br" target="blank">link</a></li>
      <li>Website - Ecoverden, <a href=" https://ecoverden.com.br" target="blank">link</a></li>
      <li>Supergeeks - Desafio Jovem Inovador - auxilio aos fins de semana, <a href="https://www.joveminovador.com.br/" target="blank">link</a>, Ago 2019 - Nov 2019</li>
      <li>Meu Kick - desenvolvimento da plataforma (back-end) - atual, <a href="https://meukick.com" target="blank">link</a></li>
    </ul>
  </div>
  <%- include('footer') %>
